<span id="{{key}}">{{reference}}</span>
<br>
<div class="btn-group" role="group">

  {% if entry.url %}
    <a class="btn btn-custom" href="{{ entry.url }}">pdf</a>
  {% endif %}

  {% if entry.doi %}
    <a class="btn btn-custom" href="http://dx.doi.org/{{ entry.doi }}">publisher</a>
  {% endif %}

  <button class="btn btn-custom"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#bib-{{ key | replace: ':', '-' }}">
    bibtex
  </button>

  {% if entry.abstract %}
    <button class="btn btn-custom"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#abs-{{ key | replace: ':', '-' }}">
      abstract
    </button>
  {% endif %}

  {% if entry.videourl %}
    <a class="btn btn-custom" href="{{ entry.videourl }}">video</a>
  {% endif %}

</div>

<div class="modal fade" id="bib-{{ key | replace: ':', '-' }}" tabindex="-1">
  <div class="modal-dialog" style="max-width: 90vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h5>BibTeX</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
        <pre id="bibtex-{{ key | replace: ':', '-' }}">{{ entry.bibtex }}</pre>
      </div>
    </div>
  </div>
</div>

{% if entry.abstract %}
<div class="modal fade" id="abs-{{ key | replace: ':', '-' }}" tabindex="-1">
  <div class="modal-dialog" style="max-width: 90vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Abstract</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
        {{ entry.abstract }}
      </div>
    </div>
  </div>
</div>
{% endif %}
